import com.microsoft.jenkins.azuread.AzureAdMatrixAuthorizationStrategy
import com.microsoft.jenkins.azuread.AzureSecurityRealm
import jenkins.model.*

def instance = Jenkins.getInstance()

def azureAD = new AzureSecurityRealm("{{ azure_ad_tenant }}", "{{ azure_ad_client }}", "{{ azure_ad_secret }}")

instance.setSecurityRealm(azureAD)
instance.save()

def strategy = new AzureAdMatrixAuthorizationStrategy()
strategy.add(Jenkins.ADMINISTER, "{{ azure_ad_group }}")

instance.setAuthorizationStrategy(strategy)
instance.save()
