import hudson.plugins.active_directory.ActiveDirectorySecurityRealm
import jenkins.model.*

def instance = Jenkins.getInstance()

def internalAd = new ActiveDirectorySecurityRealm("adeo.no", null, null, null, null)

instance.setSecurityRealm(internalAd)
instance.save()
