- hosts: jenkins
  become: yes
  vars:
    headless: True
  roles:
    - proxy
    - certificates
    - docker
    - kubernetes
    - git
    - java
    - node
    - browser
    - jenkins
    - nais-cli

- hosts: linuximage
  become: yes
  vars_prompt:
    - name: "githubusername"
      prompt: "Enter your GitHub username"
      private: no
    - name: "githubpassword"
      prompt: "Enter your GitHub password/OAuth token"
      private: yes
    - name: "ident"
      prompt: "Enter your NAV ident"
      private: no
    - name: "ident_domain"
      prompt: "Enter domain"
      default: "adeo.no"
      private: no
    - name: "ident_password"
      prompt: "Enter your NAV password"
      private: yes
  roles:
    - proxy
    - certificates
    - docker
    - kubernetes
    - git
    - java
    - node
    - browser
    - linuximage
    - vmware-viewagent
    - jetbrains
    - kubeconfigs
    - nais-cli
